* {
    box-sizing: border-box;
}

.body {
    position: relative;
}

.out {
    background: black;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
}

.container-options-share {
    position: fixed;
    width: 260px;
    background: white;
    color: black;
    max-height: 400px;
    right: 225px;
    top: 68px;
    z-index: 5;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 14px;
    box-shadow: 1px 1px 10px -6px black;
}

.container-options-share svg {
    stroke: #777777;
}

.header-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid hsl(0, 0%, 86%);
    padding: 8px 0px;
}

.header-options span {
    margin-left: 45px;
    font-weight: 500;
    width: 100%;
}

.header-options svg {
    padding: 3px;
    margin: 0px 7px;
}

.share-options button {
    display: flex;
    justify-content: flex-start;
    padding: 13px;
    font-weight: 600;
    align-items: center;
    cursor: pointer;
    width: 100%;
}

.share-options button:last-child {
    padding-left: 47px;
    border-radius: 14px;
}

.share-options button:hover {
    background: #fafafa;
}

.share-options svg {
    margin-right: 10px;
}