* {
    box-sizing: border-box;
}
.container {
    height: 44px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    padding: 30px 10px;
}

.logo-image {
    height: 40px;
    width: 103px;
    margin-left: 10px;
}

.icons {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.icons svg {
    margin-left: 20px;
}

.icons button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

.icons a {
    color: black;
}

.header-avatar {
    width: 20px;
    height: 20px;
    border-radius: 50px;
    margin-left: 20px;
}