* {
    box-sizing: border-box;
}

.container-nav {
    background: #fafafa;
    border-bottom: 3px solid #dbdbdb;
    overflow: auto;
    display: flex;
    flex-direction: row;
}

.container-nav img {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    margin-top: 13px;
    padding: 3px;

    background-image: linear-gradient(white, white), radial-gradient(circle at top left, rgba(219, 47, 118, 1), orange);
    background-clip: content-box, border-box;
}

.avatar {
    margin: 10px;
    position: relative;
}

.avatar span {
    position: absolute;
    top: 45px;
    right: 13px;
}


.icon > * {
    fill: white;
    stroke: white;
    stroke-width: 20;   
}

.icon {
    background:  #0085f6;
    border-radius: 100%;
}

.avatar:nth-child(1) img {
    background-image: none;

}

.avatar p {
    margin: 2px;
}
